$font: 'Roboto', sans-serif;
$font-color-primary: black;
$font-color-secondary: rgb(73, 54, 54);

$primary-color: rgba(255, 255, 255, 0.5);
$secondary-color: rgb(202, 59, 59);

body {
  font-family: $font;
  background: $primary-color;
  // background: black;
  color: $font-color-secondary;
}
