$font: 'Roboto', sans-serif;
$font-color-primary: black;
$font-color-secondary: rgb(73, 54, 54);

$primary-color: rgba(255, 255, 255, 0.5);
$secondary-color: rgb(202, 59, 59);

/*
    Mixins
*/
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin heading($bold: 100px, $margin: 1rem) {
  margin: $margin;
  font-weight: $bold;
}

/*
    elements
*/

body {
  font-family: $font;
  background: $primary-color;
  // background: black;
  color: $font-color-secondary;
}

//heading
@for $index from 1 through 6 {
  h#{$index} {
    font-size: 0.5rem + (6-$index);
    font-weight: 900;
  }
}
