.container {
  max-width: 1024px;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col-1 {
  flex-basis: calc(100% / 12);
}
.col-2 {
  flex-basis: calc(100% / 11);
}
.col-3 {
  flex-basis: calc(100% / 10);
}
.col-4 {
  flex-basis: calc(100% / 9);
}
.col-5 {
  flex-basis: calc(100% / 8);
}
.col-6 {
  flex-basis: calc(100% / 7);
}
.col-7 {
  flex-basis: calc(100% / 6);
}
.col-8 {
  flex-basis: calc(100% / 5);
}
.col-9 {
  flex-basis: calc(100% / 4);
}
.col-10 {
  flex-basis: calc(100% / 3);
}
.col-11 {
  flex-basis: calc(100% / 2);
}
.col-12 {
  flex-basis: 100%;
}
